$background: #f5f5f5;
$grayBackground: #efefef;
$gray: #a6a6a6;
$purple: #692ac2;
$transparentPurple: #692ac26c;
$lightGray: #e1e1e1;
$shadowPurple: #692ac238;
$orange: #ff4d00;
$red: #E60000;
$green: #00ba00;
$border: #d8d8d8;
$text: #242020;
$stroke: #979797;
$purpleBorder: #E2CDFF;
$purpleBackground: #FAF6FF;
